Architecture: iphoneos-arm
Name: Awesome Zeppelin Musicians
Package: com.modmyi.awesomezeppelinmusicians
Version: 0.2
Size: 124kB
Maintainer: Geigi <deb@geigi.de>
Depends: com.alexzielenski.zeppelin
Description: Contains four Band/Album logos: Blur, Gorillaz, Troye Sivan (Trxye and Wild) logo for Zeppelin.
Section: Themes
